.prioritys {

    .priority {
        display: flex;
        flex-wrap: wrap;
        margin-top: 200px;

        .priority--text {
            width: 445px;

            span {
                font-size: 48px;
                line-height: 48px;

                /* or 100% */
                letter-spacing: -2.14286px;

                color: #495567;


            }

            p {
                font-size: 15px;
                line-height: 25px;

                /* or 167% */

                color: #939CAA;


            }
        }

        .priority--img {
            position: relative;
            position: relative;
            left: 11.5%;
            margin-bottom: 100px;
            .priority__victor {
                position: absolute;
                left: 0;
                top: 200px;
                width: 200%;
            }
        }

        .priority--img:nth-child(1) {
            position: relative;
            left: -11.5%;
        }
    }
}

@media only screen and(max-width:780px) {
    .priority--img {
        order: -2;
    }
}
@media only screen and(max-width:375px){
    .prioritys {
        width: 300px;
    }
    
    .priority--img {
        width: 300px;
    }

    .priority {
        width: 300px;
    }

}